@import '../../assets/styles/colors.scss';
@import '../../assets/styles/variables.scss';

.PhoneCharacteristics__container {
  display: flex;
}

.PhoneCharacteristics__block {
  display: flex;
  gap: 128px;
  justify-content: space-between;
  margin-bottom: 80px;
}

.PhoneCharacteristics__smallPhotos {
  display: grid;
  grid-template-columns: 80px;
  grid-template-rows: 80px;
  align-items: center;
  justify-items: center;
  row-gap: 16px;
}
.border {
  padding: 5px;
  max-width: 80px;
  max-height: 80px;
  border: 1px solid $secondary;
}

.PhoneCharacteristics__photos {
  display: flex;
  gap: 28px;
}

.colors__title,
.capacity__title,
.iphone__id {
  color: $secondary;
  font-size: $primary-first-size;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 8px;
}

.colors__title {
  display: flex;
  align-items: center;
  gap: 238px;
}

.colors__params {
  display: flex;
  gap: 8px;
  align-items: center;
  padding-bottom: 24px;
  border-bottom: 1.5px solid $elements;
}

.selected__color {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $white;
  border: 3px solid $elements;
  cursor: pointer;
}

.color__default_1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $gold;
  border: 3px solid $elements;
  cursor: pointer;
}
.color__default_2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $deep-purple;
  border: 3px solid $elements;
  cursor: pointer;
}
.color__default_3 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $space-black;
  border: 3px solid $elements;
  cursor: pointer;
}

.PhoneCharacteristics__capacity {
  padding-top: 24px;
}

.capacity__items {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 24px;
  border-bottom: 1.5px solid $elements;
  & .capacityMemory__item {
    font-size: $primary-four-size;
    padding: 7px;
    font-weight: 500;
    line-height: 150%;
    color: $primary;
    border: 1.3px solid $icons;
  }
}

.capacity__items > .capacityMemory__item:first-child {
  background: $primary;
  color: $white;
  border: none;
  border: 1.3px solid transparent;
}

.PhoneCharacteristics__titles {
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.sixImage {
  max-width: 400px;
  max-height: 400px;
  object-fit: cover;
}

.PhoneCharacteristics__prices {
  display: flex;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 16px;
  gap: 8px;
}

.PhoneCharacteristics__price {
  color: $primary;
  font-size: $primary-third-size;
  font-weight: 700;
  line-height: 128.125%;
  letter-spacing: -0.32px;
}

.PhoneCharacteristics__lastPrice {
  font-weight: 500;
  color: $secondary;
  font-size: $primary-five-size;
  line-height: normal;
  text-decoration: line-through;
  text-decoration-color: $primary;
}

.addButton__block {
  margin-bottom: 32px;
}

.PhoneCharacteristics__tellParams {
  max-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.firstParams__items,
.secondParams__items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.secondParams__items {
  align-items: flex-end;
}

.paramsItemTitle {
  color: $secondary;
  font-size: $primary-first-size;
  font-weight: 500;
  line-height: normal;
}

.paramsItemSecondTitle {
  color: $primary;
  font-size: $primary-first-size;
  font-weight: 600;
  line-height: normal;
}

@media (max-width: 999px) {
  .PhoneCharacteristics__block {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .PhoneCharacteristics__photos {
    flex-direction: column-reverse;
  }
  .PhoneCharacteristics__smallPhotos {
    display: flex;
    gap: 10px;
  }
}
