@import '../../assets/styles/colors.scss';
@import '../../assets/styles/variables.scss';

.footer__menu {
  display: flex;
  gap: 64px;
}

.list__item > .list__link {
  color: $secondary;
  font-weight: 700;
  line-height: 91.667%;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out 0s;
  &:hover {
    color: $primary;
    text-decoration: underline;
  }
}

.footer__buttons {
  display: flex;
  gap: 16px;
  align-items: center;
}

.footer__buttons > .footer__button {
  color: $secondary;
  font-weight: 500;
  background: transparent;
  line-height: 91.667%;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  outline: none;
}

.arrow__top {
  width: 35px;
  height: 35px;
  background: $secondary;
  border-radius: 50%;
  &:focus {
    border: none;
    outline: none;
  }
}

.logo__buttonUp {
  background: transparent;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  &:hover {
    transform: scale(1.3);
  }
}

.footer__appleLogo {
  color: #89939a;
}

.arrow__circle {
  color: #fff;
  height: 30px;
  width: 30px;
}

@media (max-width: 450px) {
  .footer__menu {
    gap: 35px;
  }
}
